# Senate Stock Insights Requirements

# We used the following Python Libraries in our project and they are necessary to run the project:

json                    # Comes pre-installed with Python
datetime                # Comes pre-installed with Python
typing                  # Comes pre-installed with Python
plotly                  # pip install plotly==5.20.0                             # Link: https://plotly.com/python/getting-started/
python_ta               # python -m pip install python-ta                        # Link: https://www.cs.toronto.edu/~david/pyta/usage/quick_start.html
numpy                   # pip install numpy                                      # Link: https://numpy.org/install/
networkx                # pip install networkx[default]                          # Link: https://networkx.org/documentation/stable/install.html
scipy                   # python -m pip install scipy                            # Link: https://scipy.org/install/
yfinance                # pip install yfinance --upgrade --no-cache-dir          # Link: https://pypi.org/project/yfinance/
pandas                  # pip install pandas                                     # Link: https://pandas.pydata.org/docs/getting_started/install.html
